nav{
    background-color: grey;
}

nav img{
    height: 50px;
}

.nav-menu{ 
     display: flex; 
     justify-content: space-around; 
     align-items: center; 
     list-style: none; 
     font-size: 20px; 
     margin-top: auto; 
    
 } 

 

 .info{
    position: absolute;
    top: 80%;
    left: 50%;
    right: 1%;
    bottom: 25;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    z-index: 1;
    padding: 20px;
 }

.navbar-expand-sm bg-body-tertiary{
    background-color: gray;
}